div(class="modal-header")
  button(type="button" class="close" data-dismiss="modal" aria-label="Close")
    span(aria-hidden="true") &times;
  h4(class="modal-title" id="loginModalLabel") Modal title
div(class="modal-body") ...
div(class="modal-footer")
  button(type="button" class="btn btn-primary" ng-click="ok()") Save changes
  button(type="button" class="btn btn-default" ng-click="cancel()") Cancel

